@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap');

html {
    background: #F4F4F4;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navigation */

header .container {
    position: relative;
    padding: 2% 10%;
}

header .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem 0;
    overflow-x: hidden;
    
}

header .logo {
    width: 150px;
}

header .logo_a {
    border-bottom: none;
    margin-right: auto;
}

.nav_icon {
    color: #333333;
    cursor: pointer;
}

img.logo{
width: 16%;
}

.navbar {
    display: none;
}

.navbarresponsive {
    position: absolute;
    left: 0;
    top: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f9fafb;
    z-index: 999;
}

.menu_item {
    padding: 1rem 0;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}

.menu_item:hover {
    background-color: #777777;
    color: #fff;
}
.active {
    color: #333333;;
    font-weight: 500;
}

@media screen and (min-width: 640px) {
    .nav_icon {
    display: none;
    }
    .navbar {
    display: flex;
    position: relative;
    gap: 1.6rem;
    }
    .menu_item {
    color: #1f1f1f;
    }
    .menu_item:hover {
    color: #777777;
    background: none;
    }
    .active {
    color: #333333;;
    font-weight: 500;
    }
}


/* home page */
.top h2 {
    color:#333333;
    font-size: 62px;
    font-weight: 100;
    font-family: 'Italiana', serif;
    position: absolute;
    padding: 0 39% 0 9%;
    top: 28%;
}

.animation{
    width: 35%; 
    height: 35%;

}

.top-animation{
    position: relative;
    left: 56%;
    z-index: -1;

}

/* #image-1{
    position: relative;
    left: 50%;
    z-index: -1;
} */

.work{
    height: 700px;
}

.title{
    font-weight: 300;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    text-align: left;
    padding-left: 10%;
    color: #333333;
    margin-bottom: 3%;
}

hr.solid {
    border-top: 1px solid #333333;
    width: 80%;
    }

.projects{
    padding: 3% 20% 5% 9%;

}

h3{
    font-weight: 200;
    font-size: 22px;
    margin: 10px 0;
    color: #333333;
    font-family: 'Inter', sans-serif;
}

.card{
    width:26%;
    padding: 10px;
    display:inline-block;
    vertical-align: middle;
    margin: 0 5px 20px;
    height: 260px;
}

.card img{
    width: 100%;
    height: 160%;
    object-fit: cover;
}

.card{
    display: inline-block;
}

.card h2{
    font-size: 16px; 
    text-align: left;
    font-weight: 200;
    font-family: 'Inter', sans-serif;
}

.arrow{
    z-index: 1;
    padding: 0 15% 0 0;
    display: flex;
    justify-content: flex-end;

}

.about{
    height: 780px;

}

.about-copy{
    flex-flow: row wrap;
    padding: 12% 20% 20% 46%; 
    color: #333333;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}

.about img{
    height: 460px;
    width: 32%;
    object-fit: cover;
    padding: 5% 0 0 10%;
    float: left; 

}

.projects{
    padding: 3% 20% 5% 9%;

}


/* work/projects page */

.work-projects{
    height: 860px;
    padding: 5% 10% 5% 10%; 

}
h3{
    font-weight: 200;
    font-size: 22px;
    margin: 10px 0;
    color: #333333;
    font-family: 'Inter', sans-serif;
}

.project-card{
    width:26%;
    padding: 10px;
    display:inline-block;
    vertical-align: middle;
    margin: 0 5px 20px;
    height: 260px;
}

.project-card img{
    width: 100%;
    height: 160%;
    object-fit: cover;
}

.project-card{
    display: inline-block;
}

.project-card h2{
    font-size: 16px; 
    text-align: left;
    font-weight: 200;
    font-family: 'Inter', sans-serif;
}

/* contact page */

form {
    margin: 50px auto;
    width: 60%;
    display: block;
}

.form-item {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    padding: 5px;
}

.form-item label {
    flex-basis: 150px;
    font-size: 22px;
    font-family: 'Inter', sans-serif;
}


.form-item input,
.form-item textarea {
    flex-basis: 50%;
    border: 1px solid #333333;
    font-family: 'Inter', sans-serif;
}

.form-item input:hover,
.form-item textarea:hover {
    border: 1px solid #0a0a0a;
}

.form-item input,
.form-item textarea,
.form-item button {
    border: 1px solid #333333;
    background-color: #F4F4F4;
    padding: 5px;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}

.form-item button:hover {
    border: 2px solid #0a0a0a;
    background-color: #0a0a0a;
    color: #F4F4F4;
}

.form-item button {
    appearance: auto;
    width: 100px;
    align-items: flex-start;
}

label {
    cursor: default;
    font-family: 'Inter', sans-serif;
}

.contact{
    height: 200%;

}

/* footer */

footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
}

.footer__nav-social{
    padding: .5% 0 0 16%;

}

ul li{
    list-style: none;
    display: inline;
    border: none;
} 

.footer__copyright {
    font-family: 'Inter', sans-serif;
    padding: 2% 5% 5% 10%; 
    color: #333333;
    width: 40%;
}

.social-icon{
    color: #333333;
    transition: color 0.2s;
    margin: 0 10px;
    text-decoration: none;


}

.social-icon:hover{
    color: #777777;
}



/*** Media Queries Below ***/

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 320px) { 
    .top-animation{
        left: 0;
        z-index: 0;
        height: 3;
    }
    
    .top h2 {
        color:#333333;
        font-size: 32px;
        font-weight: 100;
        font-family: 'Italiana', serif;
        position: absolute;
        padding: 0 5% 0 5%;
        top: 28%;
    }
    
    
    

@media screen and (min-width: 640px){

.navbar {
    display: flex;
    position: relative;
    gap: 1.6rem;
}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {     
    }
}

 /* MASSIVE devices (large desktops, 1440px and up) */
@media (min-width: 1440px) {
    body {  
    }
}
