@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap');

html {
    background: #F4F4F4;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin-bottom: 5px;
    height:32px;
    font-family: 300px;
    padding: 2% 8% 2% 8%;
}


nav, h1{
    transition: color 0.2s;
    display: inline; 
    font-size: 28px;
    font-weight: 300px;
    color: #333333;
    font-family: 'Inter', sans-serif;
}

nav,h1:hover{
    color: #424CC2;
}

nav{
    float: right; 
    transition: color 0.2s;
}

nav:hover{
    color: #424CC2;
}

a {
    color: #333333;
    padding: 8px;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration:none;
    font-family: 'Inter', sans-serif;
}

.head {
    width: 100%;
    height: 680px;
    text-align: left;
}

.top h2 {
    color:#333333;
    font-size: 62px;
    font-weight: 100;
    font-family: 'Italiana', serif;
    position: absolute;
    padding: 0 39% 0 9%;
    top: 28%;
}


#image-1{
    position: relative;
    left: 50%;
    z-index: -1;
}


.title{
    font-weight: 300;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    text-align: left;
    padding-left: 10%;
    color: #333333;
    margin-bottom: 3%;
}

hr.solid {
    border-top: 1px solid #333333;
    width: 80%;
    }

.projects{
    padding: 3% 20% 5% 9%;

}

h3{
    font-weight: 200;
    font-size: 22px;
    margin: 10px 0;
    color: #333333;
    font-family: 'Inter', sans-serif;
}

.card{
    width:26%;
    padding: 10px;
    display:inline-block;
    vertical-align: middle;
    margin: 0 5px 20px;
    height: 260px;
}

.card img{
    width: 100%;
    height: 160%;
    object-fit: cover;
}

.card{
    display: inline-block;
}

.card h2{
    font-size: 16px; 
    text-align: left;
    font-weight: 200;
    font-family: 'Inter', sans-serif;
}

.arrow{
    position: relative;
    z-index: 1;
    padding: 2%;

}

.about{
    height: 140%;

}

.about-copy{
    flex-flow: row wrap;
    padding: 5% 18% 20% 44%; 
    color: #333333;
    font-family: 'Inter', sans-serif;
}

.about img{
    width: 32%;
    height: 5%;
    object-fit: cover;
    padding: 5% 0 0 10%;
    float: left; 

}

form {
    margin: 50px auto;
    width: 60%;
    display: block;
}

.form-item {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    padding: 5px;
}

.form-item label {
    flex-basis: 150px;
    font-size: 22px;
    font-family: 'Inter', sans-serif;
}


.form-item input,
.form-item textarea {
    flex-basis: 50%;
    border: 1px solid #333333;
    font-family: 'Inter', sans-serif;
}

.form-item input:hover,
.form-item textarea:hover {
    border: 1px solid #0a0a0a;
}

.form-item input,
.form-item textarea,
.form-item button {
    border: 1px solid #333333;
    background-color: #F4F4F4;
    padding: 5px;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}

.form-item button:hover {
    border: 2px solid #0a0a0a;
    background-color: #0a0a0a;
    color: #F4F4F4;
}

.form-item button {
    appearance: auto;
    width: 100px;
    align-items: flex-start;
}

label {
    cursor: default;
    font-family: 'Inter', sans-serif;
}

.contact{
    height: 200%;

}

footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
}

.footer__nav-social{
    padding: .5% 0 0 16%;

}

ul li{
    list-style: none;
    display: inline;
} 

.footer__copyright {
    font-family: 'Inter', sans-serif;
    padding: 2% 5% 5% 10%; 
    color: #333333;
    width: 40%;
}

.social-icon{
    color: #333333;
    transition: color 0.2s;
    padding: 10px;
    margin-right: 5px;
    
}

.social-icon:hover{
    color: #424CC2;
}


